.more {display: none;}

#fastspring_spinner
{
  width: 100%;
  height: 100%;
  z-index: 99999998;
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
}

#fastspring_spinner img
{
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  -webkit-animation-name: fsb-fadeIn;
  animation-name: fsb-fadeIn;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  z-index: 99999999;
}

  @-webkit-keyframes fsb-fadeIn {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }

  @keyframes fsb-fadeIn {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }

  @-webkit-keyframes fsb-revfadeIn {
    from {
      opacity: 1; }
    to {
      opacity: 0; } }

  @keyframes fsb-revfadeIn {
    from {
      opacity: 1; }
    to {
      opacity: 0; } }

  .minicart {
        border-radius: 5px;
        position: fixed;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
        -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
        transition: -webkit-box-shadow 0.3s ease-in-out;
        -o-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
        -webkit-transition: width 0.3s, height 0.3s;
        /* For Safari 3.1 to 6.0 */
        -o-transition: width 0.3s, height 0.3s;
        transition: width 0.3s, height 0.3s;
        color: black;
        background: white;
        z-index: 999998;
        height: 58px;
        width: 58px; }

  .minicart.open {
        border-radius: 0px; }

  .minicart.topright {
        top: 20px;
        right: 20px; }

  .minicart.topleft {
        top: 20px;
        left: 20px; }

  .minicart.bottomright {
        bottom: 20px;
        right: 20px; }

  .minicart.bottomleft {
        bottom: 20px;
        left: 20px; }

  .minicart:hover {
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5); }

  .minicart .fa {
        font-size: 25px;
        padding: 15px; }

  .minicart-count {
        position: absolute;
        background: red;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        line-height: 21px;
        text-align: center;
        color: white;
        font-size: 12px; }

  .topleft .minicart-count, .bottomleft .minicart-count {
        top: -10px;
        right: -10px; }

  .topright .minicart-count, .bottomright .minicart-count {
        top: -10px;
        left: -10px; }
